{namespace r=EHAERER\FeUploadExample\ViewHelpers}
<f:layout name="Default" />

List view for shared projects

<f:section name="main">

	<f:flashMessages />

	<h2 class="t3"><f:translate key="sharedProjects" /></h2>

	<div class="row tableLine">
		<div class="col-12">
			<f:if condition="{projects -> f:count()}>5">
				<f:render partial="Project/SearchShared" arguments="{_all}" />
			</f:if>
			<f:if condition="{projects}">
				<f:then>
					<f:if condition="{isUserAdmin}">
						<f:then>
							<f:render partial="Project/ListTableAdmin" arguments="{_all}" />
						</f:then>
						<f:else>
							<f:render partial="Project/ListTableShared" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<p><f:translate key="noProject" /></p>
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>