<f:layout name="Default" />

Single view for a project

<f:section name="main">
	<h3 class="t3"><f:translate key="singleViewProject" arguments="{0:'{project.name}'}" /></h3>

	<f:flashMessages />

	<f:render partial="Project/Properties" arguments="{_all}" />

	<div class="row">
		<div class="col-6 col-md-4">
			<f:link.action action="list" class="btn btn-secondary"><f:translate key="backToList" /></f:link.action>
		</div>
		<div class="col-6 col-md-4">
			<f:link.action action="new" class="btn btn-primary"><f:translate key="newProject" /></f:link.action>
		</div>
		<f:if condition="{0:'{project.feUserId.uid}'}=={0:'{feUser.uid}'}">
			<div class="col-6 col-md-4">
				<f:link.action action="edit" arguments="{project : project}" class="btn btn-info"><f:translate key="edit" /></f:link.action>
			</div>
		</f:if>
		<f:if condition="{isUserAdmin}">
			<div class="col-6 col-md-4">
				<f:link.action action="delete" arguments="{project : project}" class="btn btn-primary"><f:translate key="delete" /></f:link.action>
			</div>
		</f:if>
	</div>

</f:section>