<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th scope="row" class="cell-1">
					<strong><f:translate key="project.name" /></strong>
				</th>
				<td class="cell-2">{project.name}</td>
			</tr>
			<f:if condition="{files}">
			<tr class="isLast">
				<th scope="row" class="cell-1">
					<strong><f:translate key="project.files" /></strong>
				</th>
				<td class="cell-2">
					<ul>
						<f:if condition="{files.documents}">
							<li><f:translate key="documents" />:
								<ul>
									<f:for each="{files.documents}" as="document">
										<li><a href="{document.publicUrl}" target="_blank">{document.name}</a></li>
									</f:for>
								</ul>
							</li>
						</f:if>
						<f:if condition="{files.images}">
							<li><f:translate key="images" />:
								<ul>
									<f:for each="{files.images}" as="image" iteration="i">
										<li><f:image src="{image.fileReferenceUid}" maxWidth="100" maxHeight="100" treatIdAsReference="1" />&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{image.publicUrl}" target="_blank">{image.name}</a></li>
									</f:for>
								</ul>
							</li>
						</f:if>
					</ul>
				</td>
			</tr>
			</f:if>
		</tbody>
	</table>
</div>

